body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.header {
    display: flex;
    flex-direction:column;
    background-image: url(/desktop/repos/END-PROJECT/landing-layout-4.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}



.container { 
    display: flex;
    flex-direction: column;   
}

/* HEADER SECTION CSS */

/* LOGO */

.logo {
    width: 120px;
    height: 70px;
    background-color: white;
    align-self: flex-start;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 4px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
}

.top {
    display: flex;   
}

.top-left {
    flex: 2;
}

.three {
    flex: 1;
    align-self: end;
    color: red;
    margin-bottom: 5px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.one, .two {
    font-size: 24px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.four {
    font-size: 10px;
    color: red;
    border-top: 2px solid black;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;  
    padding-left: 10px;
}
 /* END OF LOGO */

/* NAV BAR */
.nav-bar { 
    display: flex;
    background-color: rgba(60, 60, 60, 0.9);
    border: 4px solid black;
    /*border-bottom: 4px solid black;*/
    border-radius: 6px;
    box-shadow: 0px 0px 10px 10px rgb(210, 210, 210);
}

.nav {
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;    
}

 /* END OF NAV BAR CSS */

.wrapper {
    background-color: rgba(60, 60, 60, 0.9);
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 10px 10px rgb(210, 210, 210);  
    margin-right: 10px;
    justify-content: center;
    width: 1100px;
    align-self: center;
} 

.left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-items: flex-end;
}

.hero {
    color: rgb(193, 181, 119);
    width: 364px;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 68px;
    font-weight: 900;
    text-decoration: overline underline;
    text-underline-offset: 16px;
    text-shadow: 4px 4px black;
}

.hero-text {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    line-height: 1.4;
    color: white;
}

a[href="#"] {
    color: white;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding: 6px;
    background-color: rgba(20, 20, 20, 0.9)/* rgb(193, 181, 119)*/;
    text-decoration: none;
    cursor: pointer;  
    text-shadow: 1px 1px rgb(131, 12, 1); 
}

a:hover {
    color: rgb(193, 181, 119);
}

.record-store-pic {
   border: 3px solid black;
   border-radius: 8px;
   height: 300px;
   width: 300px;
   box-shadow: 0px 0px 5px 5px rgb(210, 210, 210); 
   align-self: center; 
   margin: 10px;
}


/* ----IMAGE SECTION CSS----*/

a[href="-"] {
    color: white;
    font-size: 16px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;  
    text-shadow: 2px 2px rgb(0, 0, 0);
}

a:hover {
    color: red;
}

.images {
    /*background-color: rgb(157, 157, 157);*/
    background-color: rgb(40, 40, 40)/*rgba(60, 60, 60, 0.9)*/;
    box-shadow: 0px 0px 10px 10px black /*rgb(210, 210, 210)*/;
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 450px;
    align-content: center;
    justify-content: center;  
}

.section-intro {
    font-size: 26px;
    font-weight: 800;
    /*color: rgba(160, 15, 2, 1);*/
    color: white;
    /*text-shadow: 2px 2px rgb(50, 50, 50)/* rgba(11, 11, 11,0.95 )*/
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 500px;
    align-self: center;
    text-align: center;
    justify-self: flex-start;
    letter-spacing: 3px;
    font-style: italic;
}

.image-wrap {
    display: flex;
    justify-content: space-around;   
}

.card {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgb(160, 160, 160);
    margin-bottom: 10px;  
}


.banner-text {
    text-align: center;  
    color: white; 
}

/* QUOTE SECTION CSS */

.quote {
    border-top: 2px solid  black;
    border-bottom: 2px solid black;
    background-image: url(hans-3.jpeg);
    background-repeat: no-repeat;
    background-size: 1600px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
    box-shadow: 0px 0px 8px 8px black /*rgb(210, 210, 210)*/;
    text-shadow: 1px 1px rgb(140, 140, 140);
}

.quote p {
    /*color: rgb(197, 167, 110);*/
    /*color: rgb(47, 45, 45 );*/
    color: black;
}

.hans-quote {
    font-size: 26px;
}

.superhans {
    font-size: 30px;
}
/* join up section */

.join-up {
    height: 310px;
    border: 3px solid  black;
    /*background-color: rgb(190, 190, 190);*/
    /*background-color:  black;*/
    /*background-color: rgb(100, 100, 100);*/
    background-image: url(records.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    box-shadow: 0px 0px 10px 10px black;
    display: flex;
    justify-content: center;
} 

.sign-up-box {
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    width: 600px;
    height: 140px;
    margin-top: 50px;
    background-color: rgba(60, 60, 60, 0.9);
    justify-content: center;
    box-shadow: 0px 0px 5px 5px rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
}

.left-box {
    display: flex;
    flex-direction: column;
    /*margin: 10px;*/
    /*padding: 20px;*/
}

.top-message{
    font-size: 28px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(193, 181, 119);
    text-shadow: 2px 2px black;
    text-decoration: underline;
    
}

.bottom-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(193, 181, 119);
    text-shadow: 2px 2px black;
  
}

a[href="n"] {
    height: 50px;
    width: 70px;
    margin-left: 20px;
    align-self: flex-end;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 0px 5px 5px rgb(160, 160, 160);
    border: 2px black;
    border-radius: 5px;
    color: white;
    background-color: rgba(20, 20, 20, 0.9);
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: red;
}

.footer {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(193, 181, 119);*/
    /*background-color: rgba(60, 60, 60, 0.9);*/
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 800;
    font-style: italic;
    font-size: 16px;

}
